@tailwind base;
@tailwind components;
@tailwind utilities;

/* font family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700&display=swap');

/* button base style : can be used for each button, reduces redundancy*/

.btn{
    @apply shadow-md py-3 px-6 rounded-md transition duration-300 
}

.btn-purple{
    @apply bg-black text-white
}
.btn-white{
    @apply bg-black text-white
}